<section class="container">
    <header class="h2-header feature__header">
        <h2 class="h2-header__heading">Keep track of your snippets</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            dicta deserunt cupiditate consequatur unde, repellat incidunt
            temporibus, eaque laborum eligendi rem libero explicabo accusantium
            doloribus culpa totam quis quae et.
        </p>
    </header>
    <div class="grid">
        <img class="feature__image" src="images/image-computer.png" alt="" />

        <div class="feature-container">
            <article class="feature">
                <h3 class="feature__heading">quick search</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestiae, voluptas! Culpa molestiae ut ducimus omnis!
                </p>
            </article>
            <article class="feature">
                <h3 class="feature__heading">
                    <span class="lower-case">i</span>Cloud Sync
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestiae, voluptas! Culpa molestiae ut ducimus omnis!
                </p>
            </article>
            <article class="feature">
                <h3 class="feature__heading">Complete history</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestiae, voluptas! Culpa molestiae ut ducimus omnis!
                </p>
            </article>
        </div>
    </div>
</section>
