<section>
    <header class="h2-header">
        <h2 class="h2-header__heading">Supercharge your workflow</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam
            excepturi eveniet consequatur eum enim harum.
        </p>
    </header>
    <div class="media-container">
        <article class="media">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#icon-blacklist"></use>
                </svg>
            </span>
            <div class="media__description">
                <h3 class="media__heading">Create blacklists</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos odio error harum autem minus iure.
                </p>
            </div>
        </article>
        <article class="media">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#icon-text"></use>
                </svg>
            </span>
            <div class="media__description">
                <h3 class="media__heading">Create blacklists</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos odio error harum autem minus iure.
                </p>
            </div>
        </article>
        <article class="media">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#icon-preview"></use>
                </svg>
            </span>
            <div class="media__description">
                <h3 class="media__heading">Create blacklists</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos odio error harum autem minus iure.
                </p>
            </div>
        </article>
    </div>
</section>
