<section class="hero">
    <div class="container">
        <figure class="logo logo-big hero__logo">
            <svg class="icon__logo">
                <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
        </figure>
        <h1>A history of everything you copy</h1>
        <p class="hero__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium optio aut inventore, magni repellat aperiam!
        </p>
        <button class="btn btn--cyan">Download for iOS</button>
        <button class="btn btn--blue">Download for Mac</button>
    </div>
</section>
