<footer class="footer">
    <figure class="logo logo-small footer__logo">
        <svg class="icon__logo">
            <use xlink:href="images/sprite.svg#logo"></use>
        </svg>
    </figure>
    <section class="footer__links">
        <ul class="footer__links-list">
            <li class="footer__link-item">
                <a href="#" class="footer__link">FAQs</a>
            </li>
            <li class="footer__link-item">
                <a href="#" class="footer__link">contact us</a>
            </li>
            <li class="footer__link-item">
                <a href="#" class="footer__link">privacy policy</a>
            </li>
            <li class="footer__link-item">
                <a href="#" class="footer__link">press kit</a>
            </li>
            <li class="footer__link-item">
                <a href="#" class="footer__link">install guide</a>
            </li>
        </ul>
    </section>
    <section class="footer__media">
        <svg class="media-icon">
            <use xlink:href="images/sprite.svg#icon-facebook"></use>
        </svg>
        <svg class="media-icon">
            <use xlink:href="images/sprite.svg#icon-twitter"></use>
        </svg>
        <svg class="media-icon">
            <use xlink:href="images/sprite.svg#icon-instagram"></use>
        </svg>
    </section>
</footer>
