<section class="partners">
    <figure class="partners__brand-container">
        <img
            class="partners__brand-image"
            src="/images/logo-google.png"
            alt=""
        />
    </figure>
    <figure class="partners__brand-container">
        <img class="partners__brand-image" src="/images/logo-ibm.png" alt="" />
    </figure>
    <figure class="partners__brand-container">
        <img
            class="partners__brand-image"
            src="/images/logo-microsoft.png"
            alt=""
        />
    </figure>
    <figure class="partners__brand-container">
        <img class="partners__brand-image" src="/images/logo-hp.png" alt="" />
    </figure>
    <figure class="partners__brand-container">
        <img
            class="partners__brand-image"
            src="/images/logo-vector-graphics.png"
            alt=""
        />
    </figure>
</section>
